.title {
			width: 100%;
}
.setofreferences {
	border: 2px solid lightgrey;
	padding: 20px;
	
}
.addreference {
		width: 100%;
		color: primary;
}
.addreferencebutton {
			width: 10%;
		color: primary;
}
.bibliocard {
	padding: 20px;
		border: 1px solid blue;
    margin: 5px;
}
.bibliotitle {
	padding: 5px;
	width: 90%;
}
.biblioreference {
	padding: 5px;
	width: 100%;	

}
.familyreference {
	padding: 5px;
	width: 40%;		
}
.givenreference {
	padding: 5px;
	width: 40%;		
}
.titlereference {
	padding: 5px;
	width: 10%;		
}
.author {
	width: 100%;
	padding: 10px;
		border: 1px solid grey;
    margin: 5px;
}
.addauthor {
	
	width: 90%;
}
