
<div class="extra">
	<mat-grid-list cols="4" rowHeight="70px">
		<mat-grid-tile colspan="1">
			<mat-form-field class="simple">
				<mat-label>{{simplelab}}</mat-label>
				<input matInput disabled value="{{simple}}">
			</mat-form-field>
		</mat-grid-tile>
		<mat-grid-tile colspan="1">
			<mat-form-field class="catalog">
				<mat-label>{{cataloglab}}</mat-label>
				<input matInput disabled value="{{catalog}}">
			</mat-form-field>
		</mat-grid-tile>
		<mat-grid-tile colspan="2">
			<mat-form-field class="base">
				<mat-label>{{baselab}}</mat-label>
				<input matInput disabled value="{{catalogbase}}">
			</mat-form-field>
		</mat-grid-tile>
	</mat-grid-list>
</div>