<div class="extra">
	<mat-grid-list cols="2" rowHeight="60px">
		<mat-grid-tile colspan="1">
			<app-simplechoiceprimitive class="title" 
			[(selectedValue)]="purpcondata[conceptloc]"
			[annoref] = "conceptloc"
			[choiceLabel]="conceptlabel"
			[annoinfo]="annoinfo"
			></app-simplechoiceprimitive>
		</mat-grid-tile>
		<mat-grid-tile colspan="1">
			<app-simplechoiceprimitive class="title" 
			[(selectedValue)]="purpcondata[purposeloc]"
			[annoref] = "purposeloc"
			[choiceLabel]="purposelabel"
			[annoinfo]="annoinfo"
			></app-simplechoiceprimitive>
		</mat-grid-tile>
	</mat-grid-list>
</div>