<div class="extra">
	<mat-grid-list cols="2" rowHeight="60px">
		<mat-grid-tile colspan="1">
			<app-simplechoiceprimitive class="title" 
			[choiceanno]="conceptanno"
			[choiceLabel]="conceptlabel"
			[title]="concepttitle"
			></app-simplechoiceprimitive>
		</mat-grid-tile>
		<mat-grid-tile colspan="1">
			<app-simplechoiceprimitive class="title" 
			[choiceanno]="purposeanno"
			[choiceLabel]="purposelabel"
			[title]="purposetitle"
			></app-simplechoiceprimitive>
		</mat-grid-tile>
	</mat-grid-list>
</div>