<mat-card appearance="outlined" class="cardbase">
	<mat-card-header>
		<mat-card-title-group class="title">
			<mat-card-subtitle>Google Cloud Storage Information</mat-card-subtitle>
		</mat-card-title-group>
	</mat-card-header>
	<mat-card-content>
		<ng-container *ngIf='anno; else loadingblob'>
		<form [formGroup]="objectform">
			<div class="box">
				<mat-grid-list cols="6" rowHeight="70px">
					<mat-grid-tile [colspan]="2"  class="gridbox">
						<mat-form-field class="namefield">
							<mat-label>{{anno['dataset:GCSFilePath'][rdfslabel]}}</mat-label>
							<input matInput formControlName="GCSFilePath">
							<mat-hint>{{anno['dataset:GCSFilePath'][rdfscomment]}}</mat-hint>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile [colspan]="2" class="gridbox">
						<mat-form-field class="namefield">
							<mat-label>{{anno['dataset:GCSFileName'][rdfslabel]}}</mat-label>
							<input matInput formControlName="GCSFileName">
							<mat-hint>{{anno['dataset:GCSFileName'][rdfscomment]}}</mat-hint>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile [colspan]="2"  class="gridbox">
						<mat-form-field class="namefield">
							<mat-label>{{anno['dataset:UploadFileSource'][rdfslabel]}}</mat-label>
							<input matInput formControlName="UploadFileSource">
							<mat-hint>{{anno['dataset:UploadFileSource'][rdfscomment]}}</mat-hint>
						</mat-form-field>
					</mat-grid-tile>
					
					<mat-grid-tile [colspan]="2"  class="gridbox">
						<mat-form-field class="namefield">
							<mat-label>{{anno['dataset:FileSourceMediaType'][rdfslabel]}}</mat-label>
							<input matInput formControlName="FileSourceMediaType">
							<mat-hint>{{anno['dataset:FileSourceMediaType'][rdfscomment]}}</mat-hint>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile [colspan]="2"  class="gridbox">
						<mat-form-field class="namefield">
							<mat-label>{{anno['dataset:FileSourceMediaSubType'][rdfslabel]}}</mat-label>
							<input matInput formControlName="FileSourceMediaSubType">
							<mat-hint>{{anno['dataset:FileSourceMediaSubType'][rdfscomment]}}</mat-hint>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile [colspan]="2"  class="gridbox">
						<mat-form-field class="namefield">
							<mat-label>{{anno['dataset:FileSourceFormat'][rdfslabel]}}</mat-label>
							<input matInput formControlName="FileSourceFormat" [matMenuTriggerFor]="menu">
							<mat-hint>{{anno['dataset:FileSourceFormat'][rdfscomment]}}</mat-hint>
						</mat-form-field>
						<mat-menu #menu="matMenu">
						<app-menu-item #menu [items]="items" (selectionEvent)="setFileFormat($event)"></app-menu-item>
						</mat-menu>
					</mat-grid-tile>
				</mat-grid-list>
			</div>
		</form>
		</ng-container>
	<ng-template #loadingblob>
	    {{message}}
	</ng-template>
	</mat-card-content>
</mat-card>