			<mat-card appearance="outlined" class="login-card">
				<mat-card-title class="center-title">Please enter your email address to reset password</mat-card-title>
				<mat-card-content>
				<mat-divider></mat-divider>
								<div >
					<mat-form-field appearance="fill" class="full-width">
						<mat-label>Enter your email</mat-label>
						<input matInput placeholder="pat@example.com" [formControl]="email" required>
						<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
					</mat-form-field>
				</div>
				<div class="full-width-padded">
				<button mat-raised-button class="full-width" color="primary" (click)="reset()">
						Reset
					</button>				
				</div>
				<div class="full-width-padded">
				<button mat-raised-button class="full-width" color="primary" (click)="LogIn()">
						Back to Log In
					</button>				
				</div>

				</mat-card-content>
			</mat-card>
