.line {
	background-color: lightgrey;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin-top: 5px;
margin-bottom: 5px;
}

.button {
	background-color: lightgrey;
	border-width: 0px;
}
