.file-input {  
  display: none;
}
.uploadform {
	width: 100%;
}
.submit-btn {
	width: 100%;
}
.matcard {
  width: 500px;
}
.generic {
	width: 100%;
		padding: 20px;
}
.datasetname {
	width: 100%;
	padding: 20px;
}
.version {
	width: 100%;
		padding: 20px;
}
.textarea {
	width: 100%;
	padding: 20px;  
}