<button mat-button color="primary" (click)="addAuthor()">{{addauthor}}</button>
<div *ngFor="let author of authors.controls; ; let authorIndex=index">
	<mat-card class="bibliocard">
		<mat-card-content>
		
<div class="author" [formGroup]="author">
			<mat-form-field>
				<mat-label>{{authortitle}}</mat-label>
				<input matInput formControlName="AuthorNameTitle" placeholder="Squirrel">
			</mat-form-field>
			<mat-form-field>
				<mat-label>{{authorgivennamelabel}}</mat-label>
				<input matInput formControlName="AuthorGivenName" placeholder="Rocket J.">
				<mat-hint>{{authorgivennamehint}}</mat-hint>
			</mat-form-field>
			<mat-form-field>
				<mat-label>{{authorfamilynamelabel}}</mat-label>
				<input matInput formControlName="AuthorFamilyName" placeholder="Sir">
			</mat-form-field>

</div>
		</mat-card-content>
	</mat-card>
</div>
