<div>
	<button (click)="saveit()">
		save it
	</button>
</div>
<app-catalogbasedata #basedataobj [baseobjdata]="baseobjdata" [descriptionsuffix]="descriptionsuffix"
	[annoinfo]="annoinfo" (toggleView)="toggleView($event)">
</app-catalogbasedata>
<div *ngIf="showData">
	<app-catalogbaseextra [annoinfo]="annoinfo" [extrainfo]="catalogobj"></app-catalogbaseextra>
	<mat-divider></mat-divider>
	<app-catalogid [catidobj]="catidobj" [annoinfo]="annoinfo"></app-catalogid>
	<mat-divider></mat-divider>
	<app-datadatadescription #description [(descriptiondata)]="descriptiondata" [descriptionsuffix]="descriptionsuffix"
		[annoinfo]="annoinfo"></app-datadatadescription>
	<mat-divider></mat-divider>
	<app-multiplerecords [annoinfo]="annoinfo" [(refinfo)]="catalogobj.ref" [objlabel]="reflabel"
	(refinfochange)="refinfochange($event)"></app-multiplerecords>
</div>