<mat-card appearance="outlined" class="matcard">
	<mat-card-content>
		
		<div class="file-upload-container">
			{{title}}
		<input type="file"  class="file-upload-wrapper" accept="text/*" (change)="uploadFileEvt($event)" #fileUpload />
		
		<button mat-mini-fab class="upload-btn" (click)="fileUpload.click()">
			<mat-icon>upload_file</mat-icon>
				</button>
</div>
<!--
		<mat-grid-list cols="8" rowHeight="100px">
			<form [formGroup]="uploadForm">
				<mat-grid-tile [colspan]="1" >
				
				</mat-grid-tile>
				<mat-grid-tile [colspan]="7">
					<mat-form-field class="uploadform">
						
						<input matInput formControlName="FileSourceIdentifier">
						
					</mat-form-field>

				</mat-grid-tile>
			</form>
		</mat-grid-list>
		-->
	</mat-card-content>
	<mat-card-footer>
		<button mat-button (click)="onNoClick()">Cancel</button>
	</mat-card-footer>
</mat-card>