<form>
<div [ngSwitch]="textwidth">
<mat-form-field class="textarea100" *ngSwitchCase="'full'">
<mat-label>{{textlab}}</mat-label>
	<textarea matInput value="textarea"></textarea>
<mat-hint>{{annohint}}</mat-hint>
</mat-form-field>
<mat-form-field class="textarea50" *ngSwitchCase="'half'">
	<mat-label>{{textlab}}</mat-label>
	<textarea matInput value="textarea"></textarea>
	<mat-hint>{{annohint}}</mat-hint>
</mat-form-field>
<mat-form-field class="textarea33" *ngSwitchCase="'third'">
	<mat-label>{{textlab}}</mat-label>
	<textarea matInput value="textarea"></textarea>
	<mat-hint>{{annohint}}</mat-hint>
</mat-form-field>
<mat-form-field class="textarea"  *ngSwitchCase="'free'">
	<mat-label>{{textlab}}</mat-label>
	<textarea matInput value="textarea"></textarea>
	<mat-hint>{{annohint}}</mat-hint>
</mat-form-field>
</div>
</form>