<mat-card appearance="outlined">
	<mat-card-header class="header">
		<mat-card-title>
			{{filename}}
		</mat-card-title>
	</mat-card-header>
	<mat-card-content class="content">
		<div>
			<textarea cdkTextareaAutosize 
			       #autosize="cdkTextareaAutosize"
			       cdkAutosizeMinRows="10" 
			       cdkAutosizeMaxRows="20" 
			       class="textarea">
				{{catalog | json}}
			</textarea>
		</div>
		<div>
			<form [formGroup]="objectform">
				<mat-form-field class="namefield">
					<mat-label>{{filenamelabel}}</mat-label>
					<input matInput formControlName="filename">
					<mat-hint>{{hintlabel}}</mat-hint>
				</mat-form-field>
			</form>
		</div>
	</mat-card-content>
	<mat-card-footer>
		<button mat-button (click)="closeDialog()">Cancel</button>
		<button mat-button (click)="saveDataClick()">Save</button>
	</mat-card-footer>
</mat-card>