<form width="100%">
  <div [ngSwitch]="linewidth">
    <mat-form-field class="oneline100" *ngSwitchCase="'full'">
      <input matInput [value]="text" >
      <mat-label>Input</mat-label>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field class="oneline50" *ngSwitchCase="'half'">
      <input matInput [value]="text">
      <mat-label>Input</mat-label>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field class="oneline33" *ngSwitchCase="'third'">
      <input matInput [value]="text">
      <mat-label>Input</mat-label>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field class="onelinef" *ngSwitchCase="'free'">
      <input matInput [value]="text">
      <mat-label>Input</mat-label>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>
</form>
