.oneline {
	appearance: standard;
	font-size: smaller;
}
.oneline100 {
	appearance: standard;
	font-size: smaller;
	width: 100%;
}
.oneline50 {
	appearance: standard;
	font-size: smaller;
	width: 50%;
}
.oneline33 {
	appearance: standard;
	font-size: smaller;
	width: 33%;
}

