.filesourcetitle {
	width: 100%;
	padding: 20px;
}
.infoform {
	width: 100%;
	padding: 20px;
}
.fileformat {
	width: 100%;
}
.generic {
	width: 100%;
		padding: 20px;
}
.datasetname {
	width: 100%;
	padding: 20px;
}
.version {
	width: 100%;
		padding: 20px;
}
