<mat-card>
	<mat-card-header>
		<mat-card-title-group class="title-group">
			<mat-card-subtitle class="title">{{title}}</mat-card-subtitle>
		</mat-card-title-group>
	</mat-card-header>
	<mat-card-content>
		<ng-container *ngIf='display; else loading'>
			<ng-container *ngIf='specdisplay; else specloading'>
				<app-parametervalue #energy [(annoinfo)]="annoinfo" [(parameterinfo)]="molarenergy" [(title)]="energytitle"></app-parametervalue>
			</ng-container>
			<ng-template #loading>
				<div>
					Specification being loaded
				</div>
			</ng-template>
			<app-jthermodynamics2dspeciesstructure #structure [(annoinfo)]="annoinfo"></app-jthermodynamics2dspeciesstructure>
			<app-chemconnectthermodynamicsdatabase #base [(annoinfo)]="annoinfo" [(catalogtype)]="catalogtype">
			</app-chemconnectthermodynamicsdatabase>

		</ng-container>
		<ng-template #loading>
			<div>
				{{message}}
			</div>
		</ng-template>
	</mat-card-content>
</mat-card>