<div class="grid-container">
	<mat-tab-group>
		<mat-tab label="Home">
			<app-applicationcards></app-applicationcards>
		</mat-tab>
		<mat-tab label="User Account">
			<app-catalogobjectheader
			[setData] = "setUserAccountData.bind(this)" 
			[getData] = "getUserAccountData.bind(this)" 
			[catalogtype]="accounttype"
			[original]="originaluseraccount"
			[filenameroot]="accountfilenameroot"
			[title]="displayaccount"
			   >
				
			</app-catalogobjectheader>
			<mat-divider></mat-divider>
			
			<app-useraccount #useraccount (annoReady)="setUser()" (setDataChange)="setUserAccountSessionData($event)"></app-useraccount>
		</mat-tab>
		<mat-tab label="User Profile">

			<app-catalogobjectheader
			[setData] = "setPersonData.bind(this)" 
			[getData] = "getPersonData.bind(this)" 
			[catalogtype]="persontype"
			[original]="originalperson"
			[filenameroot]="personfilenameroot"
			[title]="displayperson"
			>
			</app-catalogobjectheader>
			<mat-divider></mat-divider>
			<app-databaseperson #databaseperson (annoReady)="setPerson()" (setDataChange)="setPersonSessionData($event)"></app-databaseperson>
		</mat-tab>
	</mat-tab-group>
</div>