<table>
  <tr>
    <th class="title">
<app-simplechoiceprimitive
			[(selectedValue)]="namedata['foaf:title']"
			[annoref] = "'usertitle'"
			[choiceLabel]="'dataset:objectconcept'"
			[annoinfo]="annoinfo"
      ></app-simplechoiceprimitive>
      </th>
    <th>
      <mat-form-field appearance="legacy" class="title">
        <mat-label>{{namegiventitle}}</mat-label>
        <input matInput matTooltip="{{namegivencomment}}" [ngModel]="namedata['foaf:givenName']"
          (ngModelChange)="namedata['foaf:givenName']=$event">
      </mat-form-field>
    </th>
    <th>
            <mat-form-field appearance="legacy" class="title">
        <mat-label>{{namefamilytitle}}</mat-label>
        <input matInput matTooltip="{{namefamilycomment}}" [ngModel]="namedata['foaf:familyName']"
          (ngModelChange)="namedata['foaf:familyName']=$event">
      </mat-form-field>
 
    </th>
  </tr>

</table>
