<mat-stepper #stepper>
	<mat-step>
		<mat-card appearance="outlined" class="example-card">
			<mat-card-header>
				<mat-card-subtitle>Upload Data</mat-card-subtitle>
				<mat-card-title>Upload data to the database</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p>Files are uploaded and interpreted into the fundamental data sets. Each data type has its own set.
					Within a given data type, there can be different revisions,
					representing updates to the information and there can also be a further distinction, referenced by a
					unique name, of data that should be used together, for example
					from the same source. Within a given data type, the specific set that should be used in a
					calculation is referenced by the revision label and a general grouping.
					This grouping is indicative of the source of the data. A new set of data, perhaps from a difference
					generation source, could have a different name. Comparisons,
					through their use in thermodynamic calculations,
					can be made by specifying one or the other set in the dataset collection specification.</p>
				<p>The uploading of data occurs in several steps. First, the raw file is uploaded and stored in the
					database storage. This file, is then
					partitioned. The partitioning depends on the type of data that is stored.
					Each of these partitions are then interpreted and are added to a set corresponding to this data
					type.</p>
				<p></p>
				<mat-divider></mat-divider>
			</mat-card-content>
		</mat-card>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>File Upload</ng-template>
		<p>
			This menu is used to upload a data file into the repository. The file is stored as read in (no
			modifications).
			Once the information is completed, the <b>Submit</b> button will start the upload transaction. If
			successful, the
			results will appear in the next tab.
		</p>
		<p>
			The file is uploaded from the computer by pressing the upload button (looks like a paper clip). It can
			be visualized with the eye button.
		</p>
		<p>
			The information is filled in. The description and the title is for the researcher's reference.
			The <i>File Source Format</i> specifies the type of file and will determine how the file is to be parsed
			and interpreted.
			The <i>Specification for Collection</i> information is used to place all information in the repository.
			The <i>Unique Generic Name</i> is used identify all intermediate data (upload and parsing information)
			associated with this file.
			The <i>Dataset Name</i> should be the name of an existing collection dataset.
			The <i>Object Status</i> (start with Current) and <i>Version</i> further identify the final repository
			information.
			The <i>Version</i> should correspond to that in the dataset collection. If, for example, the initial
			information should be replaced,
			another version identifier would be used and this would be specified in the dataset collection under the
			data type.
		</p>
		<p>
			If this file originates from a paper, this can be specified in the <i>Set of References</i>. If, for
			example, the file has
			its origins from something online, the link can be established with <i>Set of Web Links</i>
		</p>
		<app-managedatasettransactioneventobject #initialloadtransaction 
		    [transaction]="uploadtransaction"
			[prerequisiteid]="initialprerequisiteid" 
			(annoReady)="uploadInfoAnnoReady()" 
			(transactionSuccess)="uploadTransactionEvent($event)"
			[setPrerequisiteData]="setInitialLoadPrerequisiteData.bind(this)">
		</app-managedatasettransactioneventobject>
		<mat-divider></mat-divider>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Partition File</ng-template>
		<p>
			In this step, the file will be partitioned into the individual data objects. For example, if the file had
			benson rules, this
			transaction would separate out each block of information representing a benson rule. The information for
			this step
			(including specifying the prerequisite of reading in the file) is already filled in.
			If OK, press the <b>Submit</b> button. The next tab will show the result of the partitioning.
		</p>
		<p>
			The information has been already fill in. This includes the <i>File Source Format</i> which was given in the
			last menu. Using this, the
			<i>Partition Method</i> and <i>Line Count</i> (if needed). Note that the <i>Specification for Collection</i>
			is also carried over
			from the last menu.
		</p>

		<app-managedatasettransactioneventobject #parsedatatransaction 
		    [prerequisiteid]="partitionprerequisiteid"
			[transaction]="parsetransaction" 
			[prerequisitetype]="parseprerequisitetype"
			(annoReady)="parseInfoAnnoReady()"
			(transactionSuccess)="parseTransactionEvent($event)"
			[setPrerequisiteData]="setParsePrerequisiteData.bind(this)">
		</app-managedatasettransactioneventobject>

		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Interpret Partition</ng-template>
		<p>
			This sets up the information for the interpretation of each parsed block. To get the information
			from the prerequisite parsing transaction, press the <b>Prerequisite</b> button
		</p>
		<p>
			Most of the information is filled in by the prerequisite. However, sometimes some additional information is
			needed.
			For example, if the file type is <i>TherGasSubstructureThermodynamics</i>, then the type of substructure has
			to be
			specified, for example <i>HBISubstructure</i> or <i>Ring Strain Structure</i>
		</p>
		<p>
			In this menu you can specify which units the file uses. The default is <i>calories</i> units. But if, for
			example, the units
			are based on <i>Joules</i>, this can be specified. If there is an uncertainty, the type of uncertainty can
			also be specified.
		</p>
		
		
		<app-managedatasettransactioneventobject #translatedatatransaction 
		    [prerequisiteid]="translateprerequisiteid"
			[transaction]="translateactivitytype" 
			[prerequisitetype]="translateprerequisitetype"
			(annoReady)="translateInfoAnnoReady()"
			(transactionSuccess)="translateTransactionEvent($event)"
			[setPrerequisiteData]="setTranslatePrerequisiteData.bind(this)">
		</app-managedatasettransactioneventobject>

		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>

</mat-stepper>