<ng-container *ngIf='annoinfo; else loading'>
	
	<app-listoffirestoreids #outputobjects [annoinfo]="annoinfo" [listtitle]="outputtransactions">
	</app-listoffirestoreids>
	
	<app-listofrequiredtransactioninformation #requiredobjects [annoinfo]="annoinfo">
	</app-listofrequiredtransactioninformation>

	<app-simpledatabaseobjectstructure #simpledata [anno]="annoinfo" [istransaction]="istransaction"></app-simpledatabaseobjectstructure>
	</ng-container>
	<ng-template #loading>
		<mat-spinner></mat-spinner>
	</ng-template>