<mat-form-field class="chip-list">
      <mat-chip-grid class="chip-list" #chipList aria-label="Keyword selection">
        <mat-chip-row *ngFor="let keyword of keywords" 
        [selectable]="selectable" 
        [removable]="removable"
          (removed)="remove(keyword)">
          {{keyword}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip-row>
      <input placeholder="Keywords" 
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" 
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-grid>
    </mat-form-field>

