<mat-stepper #stepper>
	<mat-step [stepControl]="uploadinfoform" errorMessage="All information is required in some form.">
		<ng-template matStepLabel>File Information</ng-template>
		<app-uploadfileinformation #uploadinfo></app-uploadfileinformation>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>
	<mat-step >
		<ng-template matStepLabel>Stage File</ng-template>
		<ng-container *ngIf='uploadinfo != null; else wait'>
		<app-submitfileandinformatioon #stagefile  [uploadinfo]="uploadinfo"  [(catalogObject)]='repositorystaging'></app-submitfileandinformatioon>
		</ng-container>
		<ng-template  #wait>
		Wait
		</ng-template>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>
	
	<mat-step [stepControl]="parseinfoform" errorMessage="File not sent">
		<ng-template matStepLabel>Parse into Blocks</ng-template>
		<app-parseuploadedfile  [(repositorystagingO)]='repositorystaging' [(stagefile)]='stagefile'></app-parseuploadedfile>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>
	
	<!--
	<mat-step>
	<ng-template matStepLabel>Catalog Objects</ng-template>
	<app-createcatalogobjectsfrompartitions
	[(createform)]="createform"
	[(uploadinfoform)]="uploadinfoform"
	[(formatInformation)]="formatInformation"
	[(unitInformation)]="unitInformation"
	[(uncertaintyInformation)]="uncertaintyInformation"
	(submitInterpretEvent)= "submitInterpretEvent($event)"
	[(interpretResult)]="interpretResult">
	</app-createcatalogobjectsfrompartitions >
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>
	-->
	<mat-step>
		<ng-template matStepLabel>Done</ng-template>
		<p>You are now done.</p>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button (click)="stepper.reset()">Reset</button>
		</div>
	</mat-step>
</mat-stepper>