<mat-stepper #stepper>
	<mat-step >
		<ng-template matStepLabel>File Upload</ng-template>
		<app-uploadfileinformation #uploadinfo (repositoryEvent)="repositoryEvent($event)"></app-uploadfileinformation>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>
	<mat-step >
		<ng-template matStepLabel>Upload Transaction</ng-template>
		<app-initialreadinofrepositoryfileevent #repositoryresults (repositoryEvent)="repositoryEvent($event)"></app-initialreadinofrepositoryfileevent>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>
	<mat-step >
		<ng-template matStepLabel>Partition File</ng-template>
		<app-parseuploadedfile #parse (parsedEvent)="parsedEvent($event)"></app-parseuploadedfile>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>
	<mat-step >
		<ng-template matStepLabel>Partition Transaction</ng-template>
		<app-parsefiletransaction #parsetransaction (parsedTransactionEvent)="parsedTransactionEvent($event)"></app-parsefiletransaction>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>
	<mat-step >
		<ng-template matStepLabel>Interpret Partition</ng-template>
		<app-transactioninterprettextblock #interpret (interpretEvent)="interpretEvent($event)"></app-transactioninterprettextblock>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Done</ng-template>
		<p>You are now done.</p>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button (click)="stepper.reset()">Reset</button>
		</div>
	</mat-step>
</mat-stepper>