<mat-stepper #stepper>
	<mat-step [stepControl]="uploadForm" errorMessage="File Selection is required.">
		<ng-template matStepLabel>Select File to Upload</ng-template>
		<app-uploadfiletostorage [(uploadForm)]="uploadForm" [filemediatype]="filemediatype"></app-uploadfiletostorage>
		<button mat-button (click)="displayJsonObject()">JSON</button>
		<button mat-raised-button matStepperNext>Next</button>
	</mat-step>
	<mat-step [stepControl]="uploadinfoform" errorMessage="All information is required in some form.">
		<ng-template matStepLabel>File Information</ng-template>
		<app-uploadfileinformation [(uploadinfoform)]="uploadinfoform" 
		[(references)]="references"
			(newItemEvent)="addReference($event)" 
			[(filesourcetypechoices)]="formatList"
			[(titleInformation)]="titleInformation"></app-uploadfileinformation>
			
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>
	<mat-step [stepControl]="senduploadfile" errorMessage="File not sent">
		<ng-template matStepLabel>Upload File</ng-template>
		<app-submitfileandinformatioon [(uploadinfo)]="uploadInformation" 
		(submitUploadEvent)="submitUpload($event)">
		</app-submitfileandinformatioon>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>
	<mat-step [stepControl]="parseinfoform" errorMessage="File not sent">
		<ng-template matStepLabel>Parse into Blocks</ng-template>
		<app-parseuploadedfile [(uploadinfoform)]="uploadinfoform" 
		[(formatInformation)]="formatInformation"
			[(parseinfoform)]="parseinfoform"
			(submitParseEvent)="submitParseEvent($event)"
			[(parseResult)]="parseResult"></app-parseuploadedfile>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>
	<mat-step>
	<ng-template matStepLabel>Catalog Objects</ng-template>
	<app-createcatalogobjectsfrompartitions
	[(createform)]="createform"
	[(uploadinfoform)]="uploadinfoform"
	[(formatInformation)]="formatInformation"
	[(unitInformation)]="unitInformation"
	[(uncertaintyInformation)]="uncertaintyInformation"
	(submitInterpretEvent)= "submitInterpretEvent($event)"
	[(interpretResult)]="interpretResult">
	</app-createcatalogobjectsfrompartitions >
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Done</ng-template>
		<p>You are now done.</p>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button (click)="stepper.reset()">Reset</button>
		</div>
	</mat-step>
</mat-stepper>