<mat-card class="card">
	<mat-card-header>
		<mat-card-subtitle>
			{{activityname}}
			<ng-container *ngIf='noactivity;'>
				No Activity Information
			</ng-container>
		</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<ng-container *ngIf='display;'>
			<ng-container *ngIf='activityname == "dataset:ActivityRepositoryInitialReadLocalFile";'>
				<app-activityrepositoryinitialreadlocalfile #readlocal [(annoinfo)]="annoinfo"></app-activityrepositoryinitialreadlocalfile>
			</ng-container>
			<ng-container *ngIf='activityname == "dataset:ActivityRepositoryPartitionToCatalog";'>
				<app-activityrepositorypartitiontocatalog #partition [(annoinput)]="annoinfo"></app-activityrepositorypartitiontocatalog>
			</ng-container>
			<ng-container *ngIf='activityname == "dataset:ActivityInformationInterpretDisassociationEnergy";'>
				<app-activityinformationinterpretdisassociationenergy #disassociation [(annoinfo)]="annoinfo"></app-activityinformationinterpretdisassociationenergy>
			</ng-container>
			
		</ng-container>
	</mat-card-content>
</mat-card>