.topbanner  {
	text-align: center;
	
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
.top {
		background-color: lightblue;
	padding: 0px;
	 margin: 0;
}
.introtext {
	background-color: lightcyan;
	padding: 0px;
	 margin: 0;
}
.startbutton {
	width: 100%;
	color: primary;
}
