 
       <app-inputline class="descriptiontile" [parameters]="descrparameters" [subchecked]="false" [textarea]="true"
         class="descriptiontile">
      </app-inputline>
 
 <!--  app-descriptiondata 
[titleparam]="titleparameters"
[descrparam]="descrparameters"
[keywordparam]="keywordparameters"
[classifications]="classifications"
[classificationtitle]="classificationtitle"
[allowFreeChoice]="true"
[defaultvalue]="defaultvalue"
></app-descriptiondata -->
<h2>
Title Articles
</h2><p>
Title Articles
</p><p>
Title Articles
</p><p>
Title Articles
</p><p>
Title Articles
</p>
  