<!--app-header></app-header -->
<app-header></app-header>

<mat-sidenav-container class="example-container">
	<mat-sidenav mode="side" opened>
		<button mat-raised-button class="toggle" color="blue">Home</button>
		<button mat-raised-button class="toggle" color="blue" (click)="uploaddata()">Upload Data</button>
		<button mat-raised-button class="toggle" color="lightblue" [matMenuTriggerFor]="catalog">Catalog</button>

		<mat-menu #catalog="matMenu">
			<button mat-menu-item (click)="repositoryStaging()">Repository Staging</button>
			<button mat-menu-item (click)="partition()">Partition</button>
			<button mat-menu-item (click)="transaction()">Transaction</button>
			<button mat-menu-item (click)="catalog()">Catalog</button>
			<button mat-menu-item (click)="datasetcollection()">Dataset Collections</button>
		</mat-menu>
	</mat-sidenav>
	<mat-sidenav-content>
	<!--
		<div class="div-toggle">
			<button mat-raised-button class="toggle" color="primary">Toggle Menu</button>
		</div>
		-->
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>