.textarea100 {
	appearance: standard;
	font-size: smaller;
	width: 100%
}
.textarea50 {
	appearance: standard;
	font-size: smaller;
	width: 50%
}
.textarea33 {
	appearance: standard;
	font-size: smaller;
	width: 33%
}
.textarea {
	appearance: standard;
	font-size: smaller;
}
