<mat-card class="card">
	<mat-card-header>
		<mat-card-title-group class="title-group">
			<mat-card-subtitle class="title">{{title}}</mat-card-subtitle>
		</mat-card-title-group>
	</mat-card-header>
	<mat-card-content>
		<ng-container *ngIf='annoinfo != null; else loading'>
			<form [formGroup]="objectform" class="infoform">
				<mat-grid-list cols="6" rowHeight="100px">

					<mat-grid-tile [colspan]="6">
						<mat-form-field class="title">
							<mat-label>{{annoinfo['dataset:DescriptionTitle'][rdfslabel]}}</mat-label>
							<input matInput formControlName="DescriptionTitle">
							<mat-hint>{{annoinfo['dataset:DescriptionTitle'][rdfscomment]}}</mat-hint>
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile [colspan]="3">
						<mat-form-field class="label">
							<mat-label>{{annoinfo['dataset:FileSourceFormat'][rdfslabel]}}</mat-label>
							<input matInput formControlName="FileSourceFormat">
							<mat-hint>{{annoinfo['dataset:FileSourceFormat'][rdfscomment]}}</mat-hint>
						</mat-form-field>
					</mat-grid-tile>
					
					<ng-container *ngIf="notbenson">
						<mat-grid-tile [colspan]="3" background="lightgray">
							<mat-form-field class="label">
								<mat-label>{{annoinfo['dataset:JThermodynamicsSubstructureType'][rdfslabel]}}
								</mat-label>
								<input matInput formControlName="JThermodynamicsSubstructureType"
									[matMenuTriggerFor]="menu.childMenu">
								<mat-hint>{{annoinfo['dataset:JThermodynamicsSubstructureType'][rdfscomment]}}
								</mat-hint>
								<app-menu-item #menu [items]="structitems"
									(selectionEvent)="setJThermodynamicsSubstructureType($event)"></app-menu-item>
							</mat-form-field>
						</mat-grid-tile>

						<mat-grid-tile [colspan]="3" background="lightgray">
							<mat-form-field class="label">
								<mat-label>{{annoinfo['dataset:JThermodynamicsSpeciesSpecificationType'][rdfslabel]}}
								</mat-label>
								<input matInput formControlName="JThermodynamicsSpeciesSpecificationType"
									[matMenuTriggerFor]="menu.childMenu">
								<mat-hint>{{annoinfo['dataset:JThermodynamicsSpeciesSpecificationType'][rdfscomment]}}
								</mat-hint>
								<app-menu-item #menu [items]="items"
									(selectionEvent)="setJThermodynamicsSpeciesSpecificationType($event)">
								</app-menu-item>
							</mat-form-field>
						</mat-grid-tile>
					</ng-container>
					
					
					<mat-grid-tile [colspan]="3">
						<mat-form-field class="label">
							<mat-label>{{annoinfo['dataset:BlockInterpretationMethod'][rdfslabel]}}</mat-label>
							<input matInput formControlName="BlockInterpretationMethod">
							<mat-hint>{{annoinfo['dataset:BlockInterpretationMethod'][rdfscomment]}}</mat-hint>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile [colspan]="6">
						<mat-form-field class="chip-list">
							<mat-chip-list class="chip-list" #chipList aria-label="Keyword selection">
								<mat-chip *ngFor="let temperature of temperaturelist" [selectable]="selectable"
									[removable]="removable" (removed)="remove(keyword)">
									{{temperature}}
									<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
								</mat-chip>
								<input placeholder="Temperatures" [matChipInputFor]="chipList"
									[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
									[matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
							</mat-chip-list>
						</mat-form-field>
					</mat-grid-tile>

				</mat-grid-list>
			</form>

			<ng-container *ngIf='display; else specdisplayoff'>

				<app-parameterspecification #enthalpy [(annoinfo)]="annoinfo" [(parameterinfo)]="molarenthalpy">
				</app-parameterspecification>
				<app-parameterspecification #entropy [(annoinfo)]="annoinfo" [(parameterinfo)]="molarentropy">
				</app-parameterspecification>
				<app-parameterspecification #heatcapacity [(annoinfo)]="annoinfo" [(parameterinfo)]="molarheatcapacity">
				</app-parameterspecification>

				<app-datasettransactionspecificationforcollection #spec [(annoinfo)]="annoinfo">
				</app-datasettransactionspecificationforcollection>
			</ng-container>
			<ng-template #specdisplayoff>
				<div>
					Specifification display disabled
				</div>
			</ng-template>

		</ng-container>
		<ng-template #loading>
			<div>
				Loading Activity information
			</div>
		</ng-template>
	</mat-card-content>
</mat-card>