<mat-card class="cardbase">
	<mat-card-header>
		<mat-card-title-group class="title-group">
			<mat-card-title class="title">Repository File Staging Transaction</mat-card-title>
		</mat-card-title-group>
	</mat-card-header>
	<mat-card-content>
		<mat-grid-list cols="6" rowHeight="100px">
			<mat-grid-tile [colspan]="3">
				<button mat-mini-fab color="primary" class="submit-btn" (click)="fetchInformation()"
					matTooltip="{{loadcatalogfromdatabase}}">
					{{fetchcatalog}}
				</button>
			</mat-grid-tile>
			<mat-grid-tile [colspan]="3">
				<button mat-mini-fab color="primary" class="submit-btn" (click)="deleteTransaction()"
					matTooltip="{{deletehint}}" [disabled]="catalogread">
					{{deletetransaction}}
				</button>
			</mat-grid-tile>
		</mat-grid-list>
		<app-datasetrepositoryfilestaging #repository></app-datasetrepositoryfilestaging>
	</mat-card-content>
</mat-card>