.addcontact {
		width: 100%;
		color: primary;
}
.contactocard {
	width: 100%;
	padding: 20px;
		border: 1px solid blue;
    margin: 5px;
}
.namefield {
 	width: 100%;
 }
 deletebutton {
 	width: 100%;
 }
 .addcontactbutton {
			width: 10%;
		color: primary;
}