.header-button {
		margin-left: 10px;
			margin-right: 10px;
			color: white;
			font-size: 20px;
			cursor: pointer;
			transition: color 0.3s ease;
		}
				.header-button:hover {
					color: #f0f0f0;
				}
