<mat-card class="login-card">
	<mat-card-title class="center-title">Sign In ChemConnect</mat-card-title>
	<mat-card-content>
		<mat-divider></mat-divider>
		<div class="password-section">
			<div>
				<mat-form-field appearance="fill" class="full-width">
					<mat-label>Enter your email</mat-label>
					<input matInput placeholder="pat@example.com" [formControl]="email" required>
					<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field appearance="fill" class="full-width">
					<mat-label>Enter your password</mat-label>
					<input matInput [type]="hide ? 'password' : 'text'" value={{password}}>
					<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
						[attr.aria-pressed]="hide">

						<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
				</mat-form-field>
			</div>
			<div>
				<button mat-raised-button class="full-width-padded" color="primary" (click)="signIn()">
					Password Log In
				</button>
			</div>
			<div>
				<button class="half-width" mat-raised-button color="secondary" (click)="forgot()">
					Forgot Password
				</button>
				<button class="half-width" mat-raised-button color="secondary" (click)="register()">
					Register
				</button>

			</div>
		</div>
		<mat-divider></mat-divider>
		<div class="google-section">
			<button mat-raised-button class="full-width" color="primary" (click)="authService.GoogleAuth()">
				Log in with Google
			</button>
		</div>
		<div class="google-section">
			<button mat-raised-button class="full-width" color="primary" (click)="authService.GithubAuth()">
				Log in with Github
			</button>
		</div>
		<div class="google-section">
			<button mat-raised-button class="full-width" color="primary" (click)="authService.FacebookAuth()">
				Log in with Facebook
			</button>
		</div>
	</mat-card-content>
</mat-card>
