.generic {
	width: 100%;
}
.datasetname {
	width: 100%;
	padding: 10px;
}
.status {
	width: 100%;
	padding: 10px;
}
.version {
	width: 100%;
	padding: 10px;
}
.cname {
	width: 100%;
}
.matcard {
	padding: 3px;
	border: 1px solid gray;
}
